//- functions for listing questions

block quizFunctionsHook
  //- we separate out these two functions because they are used both in
  //- showQuiz and in the admin page

  //- grade percent as a string, properly accounting for people who have
  //- answered no questions
  - 
    function gradePercentStr(questionsAnswered, questionsCorrect) {
      if (!questionsAnswered || !questionsCorrect
          || isNan(questionsCorrect / questionsAnswered)) return "";
      else return Math.round(questionsCorrect / questionsAnswered).toString();
    }  
  -
    // get the grade class for questions answered, questions correct
    function gradeClass(questionsAnswered, questionsCorrect) {
      var gradeClass, grade;
      if (quiz.questionsAnswered === 0) {
        return "grade-newquiz";
      } else {
        grade = quiz.questionsCorrect / quiz.questionsAnswered;
        if (grade < .7) return "grade-f";
        else if (grade < .8) return "grade-c";
        else if (grade < .9) return "grade-b";
        else if (grade < 1) return "grade-a";
        else return "grade-perfect";
      }  
    }
//- show a quiz, including beginning with current grade
//- should be passed a block to deal with the differences in how the last
//- question is treated in the admin screen vs. the quiz screen
//- (since the last question has not been answered yet, it should be
//- treated differently)
mixin showQuiz
  if quiz
    - 
      theGradeClass 
        = gradeClass(quiz.questionsCorrect, quiz.questionsAnswered);
    div(class='grade ' + theGradeClass)
      span.questionsCorrect= quiz.questionsCorrect
      span.questionsAnswered= quiz.questionsAnswered
      - 
        theGradePercentStr
          = gradePercentStr(quiz.questionsCorrect, quiz.questionsAnswered);
      span.gradePercent= theGradePercentStr
    - var questions = quiz.questions
    div.questions
      //- prevent problems with undefined questions
      if questions
        - for (var i = 0; i <= questions.length - 2; i++)
          - var question = questions[i]
          - 
            var isCorrectClass 
              = question.answerCorrect == question.answerGiven 
              ? "correct" : "incorrect"
          div(class='question ' + isCorrectClass)
            span.asktime= question.askTime
            span.number= i + 1
            span.lhs= question.number1
            span.rhs= question.number2
            span.answerGiven= question.answerGiven
            span.answerCorrect= question.answerCorrect
        //- last question
        - var question = questions[questions.length - 1]
        div.question.last-question
          span.asktime= question.askTime
          span.number= i + 1
          span.lhs= question.number1
          span.rhs= question.number2
          block
      else
        span.noquestions No questions found