//- show a quiz, including showing the current grade
//- should be passed a block to deal with the differences in how the last
//- question is treated in the admin screen vs. the quiz screen
//- (since the last question has not been answered yet, it should be
//- treated differently)
mixin showQuiz
  #quiz.container
    if quiz
      - 
        var theGradeClass 
          = common.gradeClass(
            quiz.questionsAnswered, quiz.questionsCorrect);
      div(class='grade ' + theGradeClass)
        span.questions-correct= quiz.questionsCorrect
        span.questions-answered= quiz.questionsAnswered
        - 
          var theGradePercentStr
            = common.gradePercentStr(
              quiz.questionsAnswered, quiz.questionsCorrect);
        span.grade-percent= theGradePercentStr
      - var questions = quiz.questions
      //- prevent problems with undefined questions
      if questions
        table.questions.table
          thead
            //- header
            tr.header
              th.ques-num
                span
              th.asktime time asked
              th.numbers problem
              th.answer
                span.answer-given given 
                span.answer-correct correct
          tbody
            - for (var i = 0; i <= questions.length - 2; i++)
              - var question = questions[i]
              - 
                var isCorrectClass 
                  = question.answerCorrect === question.answerGiven 
                  ? "correct" : "incorrect"
              tr(class='question ' + isCorrectClass)
                td.ques-num
                  span= i + 1
                td.asktime= common.printDate(question.askTime)
                td.numbers
                  span.lhs= question.number1
                  span.rhs= question.number2
                td.answer
                  span.answer-given= question.answerGiven
                  span.answer-correct= question.answerCorrect
            //- last question
            - var question = questions[questions.length - 1]
            tr.question.last-question
              td.ques-num
                span= i + 1
              td.asktime= common.printDate(question.askTime)
              td.numbers
                span.lhs= question.number1
                span.rhs= question.number2
              td.answer
                block
      else
        div.quiz-noquestions No questions found
        