//- This is for layouts that have an email and password prompt

extends view-admin-base

block variables
  - bodyClass += " submit-creds";

block content
  .container
    //- For status messages
    form.form-signin(action=actionLoc, method="post")
      if msg
        h4= msg
      label.sr-only(for="email") email:
      input#email.form-control(
        type="email", name="email", value=email,
        placeholder="Email address")
      label.sr-only(for="password") password:
      input#password.form-control(type="password", name="password",
        placeholder="Password")
      button.btn.btn-primary.btn-block(type="submit")= submitText
