doctype html
//- variables is to set any document-wide variables
block variables
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title= title
    link(rel='stylesheet', href='/bootstrap/css/cosmo-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/colors.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  //- option to include classes in body
  body(class=bodyClass)
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button(type="button", class="navbar-toggle collapsed", 
            data-toggle="collapse", data-target="#navbar", 
            aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          a.navbar-brand(href='/') Quizical
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a.link-admin-main(href='/admin')= user.email
              li
                a.link-logout(href='/admin/logout?redirect=' + url) logout
            else
              if (!isLogin)
                li
                  a(href="/admin/login") login
    #title.container
      h1= title
    #err-msg.container
      //- generate errMsg from errArr
      -
        var errMsg = errArr ? errArr.map(
          (err) => common.escapeHtml(err.toString())).join('<br>') : ''

      h3#error= errMsg

    block content

    footer
      .container
        small Jonathan Ganc, for Knocki

    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
