doctype html
//- variables is to set any document-wide variables
block variables
//- if quiz_functions.pug is included, it will define functions here
block quizFunctionsHook
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  //- option to include classes in body
  
  body(class="#{bodyClass}")
    header
      div.main-link
        a(href="/") Quizical
      div.links-bar.links-admin
        if user
          a.link-admin-main(href="/admin")= user.email
          a.link-logout(href="/admin/logout?redirect=/admin/login") logout
        else
          a(href="/admin/login")= login
    h1= title
    //- generate errMsg from errArr
    -
      // from http://stackoverflow.com/a/6234804
      function escapeHtml(unsafe) {
        return unsafe
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
      }
      var errMsg = errArr.map(
        (err) => escapeHtml(err.toString())).join('<br>')
       
    h3#error= errMsg

    block content
    
    footer
      .row
        .col-xs-12
          small Jonathan Ganc, for Knocki
    
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
